@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-light: #f6f6f9;
  --color-theme: #2467af;
  --color-secondary: #c9dcf3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.button {
  @apply px-6 py-3 rounded-full shadow-lg hover:shadow-sm transition-all hover:bg-gray-800 w-fit;
}

.theme-text-shadow {
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
}


h2 {
  @apply text-3xl font-semibold text-gray-800;
}


.white-logo {
  filter: brightness(0) invert(1);
}
