@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-light: #f6f6f9;
  --color-theme: #2467af;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  @apply rounded-full px-5 py-3;
}

h1 {
  @apply text-6xl text-white font-bold;
}

.white-logo {
  filter: brightness(0) invert(1);
}
